table, tr, td, th{
  border: 1px solid black;
}
td{
  background-color: MediumAquaMarine;
  color: Azure;
  font-family: 'PT Serif', serif;
}
th{
  background-color: MediumAquaMarine;
  color: Azure;
  font-family: 'PT Serif', serif;
  text-align: center;
}
h1{
  color: Azure;
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  font-size: 30;
}
#PAR1{
  color: Azure;
  font-family: 'PT Serif', serif;
  font-size: 20;
}
body{
  background-color: #FFC6AC;
}
#PAR2{
  color: Azure;
  font-family: 'PT Serif', serif;
}
#IMG0{
  display: block;
  margin: auto;
  width: 378px;
  height: 310px;  
}
#IMG1{
  display: inline;
  width: 232px;
  height: 232px;  
}
#IMG2{
  display: inline;
  width: 232px;
  height: 232px;  
}
#IMG3{
  display: inline;
  width: 232px;
  height: 232px;  
}
.images{
  margin:auto;
}
